# Ensemble Learning

## Initial Imports

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from imblearn.ensemble import BalancedRandomForestClassifier
from imblearn.ensemble import EasyEnsembleClassifier

## Read the CSV and Perform Basic Data Cleaning

In [4]:
# Load the data

file_path = Path('Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

## Split the Data into Training and Testing

In [5]:
# encoding categorical data

columns = ['home_ownership', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 
           'initial_list_status', 'next_pymnt_d', 'application_type',  'hardship_flag', 'debt_settlement_flag']
for column in columns:
    df[column] = df[column].astype("category")
    df[column] = df[column].cat.codes
    
# Create our features
X = df.drop('loan_status', 1)

# Create our target
y = df[['loan_status']]

In [6]:
X

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,pymnt_plan,dti,delinq_2yrs,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,3,66000.0,1,2,0,27.24,0.0,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,0,0
1,25000.0,0.2000,929.09,1,105000.0,2,2,0,20.23,0.0,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,0,0
2,20000.0,0.2000,529.88,1,56000.0,2,2,0,24.26,0.0,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,0,0
3,10000.0,0.1640,353.55,3,92000.0,2,2,0,31.44,0.0,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,0,0
4,22000.0,0.1474,520.39,1,52000.0,0,2,0,18.76,0.0,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68812,10000.0,0.1502,346.76,3,26000.0,1,1,0,9.60,0.0,...,80.0,0.0,0.0,0.0,20625.0,6798.0,11300.0,5425.0,0,0
68813,12000.0,0.2727,368.37,3,63000.0,0,1,0,29.07,0.0,...,96.2,0.0,0.0,0.0,87939.0,60350.0,13500.0,62939.0,0,0
68814,5000.0,0.1992,185.62,1,52000.0,1,1,0,14.86,0.0,...,100.0,0.0,1.0,0.0,30592.0,18611.0,3600.0,18492.0,0,0
68815,40000.0,0.0646,1225.24,1,520000.0,2,1,0,9.96,0.0,...,98.2,12.5,0.0,0.0,1033574.0,95958.0,100800.0,78634.0,0,0
68816,16000.0,0.1131,350.36,1,72000.0,2,1,0,7.02,2.0,...,94.3,0.0,1.0,0.0,251486.0,74835.0,23000.0,63090.0,0,0

In [7]:
X.describe()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,pymnt_plan,dti,delinq_2yrs,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
count,68817.000000,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.0,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.0,6.881700e+04,6.881700e+04,68817.000000,6.881700e+04,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,1.812779,8.821371e+04,0.669994,0.805542,0.0,21.778153,0.217766,...,95.057627,30.626217,0.125972,0.0,2.100332e+05,6.133843e+04,29734.128558,5.572240e+04,0.0,0.0
std,10277.348590,0.048130,288.062432,0.941313,1.155800e+05,0.719105,0.714932,0.0,20.199244,0.718367,...,8.326426,33.631463,0.336732,0.0,1.928088e+05,5.738798e+04,26795.394232,5.095845e+04,0.0,0.0
min,1000.000000,0.060000,30.890000,0.000000,4.000000e+01,0.000000,0.000000,0.0,0.000000,0.000000,...,20.000000,0.000000,0.000000,0.0,3.600000e+03,2.350000e+02,100.000000,1.270000e+02,0.0,0.0
25%,9000.000000,0.088100,265.730000,1.000000,5.000000e+04,0.000000,0.000000,0.0,13.890000,0.000000,...,93.000000,0.000000,0.000000,0.0,6.697700e+04,2.650300e+04,11600.000000,2.288000e+04,0.0,0.0
50%,15000.000000,0.118000,404.560000,1.000000,7.300000e+04,1.000000,1.000000,0.0,19.760000,0.000000,...,100.000000,20.000000,0.000000,0.0,1.467100e+05,4.535700e+04,22100.000000,4.200000e+04,0.0,0.0
75%,24000.000000,0.155700,648.100000,3.000000,1.040000e+05,1.000000,1.000000,0.0,26.660000,0.000000,...,100.000000,50.000000,0.000000,0.0,3.036400e+05,7.657000e+04,39300.000000,7.249900e+04,0.0,0.0
max,40000.000000,0.308400,1676.230000,3.000000,8.797500e+06,2.000000,2.000000,0.0,999.000000,18.000000,...,100.000000,100.000000,4.000000,0.0,3.292782e+06,1.295455e+06,509400.000000,1.426964e+06,0.0,0.0

In [8]:
# Check the balance of our target values

y['loan_status'].value_counts()

1    68470
0      347
Name: loan_status, dtype: int64

In [9]:
# Split the X and y into X_train, X_test, y_train, y_test
# Create X_train, X_test, y_train, y_test

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [10]:
# Create the StandardScaler instance

scaler = StandardScaler()

In [11]:
# Fit the Standard Scaler with the training data

scaler = scaler.fit(X_train)

In [12]:
# Scale the training and testing data

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)
X_train.shape

(55053, 85)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [13]:
# Resample the training data with the BalancedRandomForestClassifier

brf = BalancedRandomForestClassifier(random_state=1)
brf.fit(X_train, y_train)

BalancedRandomForestClassifier(random_state=1)

In [14]:
# Calculated the balanced accuracy score

y_pred = brf.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.7542160785982079

In [15]:
# Display the confusion matrix

confusion_matrix(y_test, y_pred)

array([[   57,    31],
       [ 1905, 11771]])

In [16]:
# Print the imbalanced classification report

print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.03      0.65      0.86      0.06      0.75      0.55        88
          1       1.00      0.86      0.65      0.92      0.75      0.57     13676

avg / total       0.99      0.86      0.65      0.92      0.75      0.57     13764

In [17]:
# List the features sorted in descending order by feature importance

X.columns[np.argsort(brf.feature_importances_)[::-1]]

Index(['total_rec_prncp', 'last_pymnt_amnt', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_int', 'int_rate', 'issue_d', 'tot_cur_bal', 'installment',
       'mo_sin_old_rev_tl_op', 'max_bal_bc', 'annual_inc', 'il_util',
       'bc_util', 'bc_open_to_buy', 'out_prncp_inv', 'total_bc_limit', 'dti',
       'out_prncp', 'revol_bal', 'mo_sin_old_il_acct', 'mo_sin_rcnt_rev_tl_op',
       'avg_cur_bal', 'total_bal_ex_mort', 'tot_hi_cred_lim', 'total_bal_il',
       'mths_since_rcnt_il', 'all_util', 'num_il_tl', 'mths_since_recent_inq',
       'loan_amnt', 'total_il_high_credit_limit', 'mths_since_recent_bc',
       'total_acc', 'total_rev_hi_lim', 'num_bc_tl', 'num_sats',
       'num_rev_accts', 'acc_open_past_24mths', 'inq_fi', 'total_rec_late_fee',
       'num_rev_tl_bal_gt_0', 'percent_bc_gt_75', 'open_rv_24m',
       'num_actv_rev_tl', 'mo_sin_rcnt_tl', 'num_actv_bc_tl', 'open_acc',
       'num_op_rev_tl', 'inq_last_12m', 'num_tl_op_past_12m', 'mort_acc',
       'pct_tl_nvr_dlq', 'total_cu_tl', 'open_act_il', 'open_il_24m',
       'num_bc_sats', 'next_pymnt_d', 'open_acc_6m', 'open_rv_12m',
       'inq_last_6mths', 'verification_status', 'open_il_12m',
       'num_accts_ever_120_pd', 'delinq_2yrs', 'tot_coll_amt',
       'application_type', 'home_ownership', 'initial_list_status',
       'pub_rec_bankruptcies', 'pub_rec', 'num_tl_90g_dpd_24m',
       'collections_12_mths_ex_med', 'chargeoff_within_12_mths', 'pymnt_plan',
       'tax_liens', 'delinq_amnt', 'num_tl_30dpd', 'num_tl_120dpd_2m',
       'recoveries', 'collection_recovery_fee', 'policy_code',
       'acc_now_delinq', 'hardship_flag', 'debt_settlement_flag'],
      dtype='object')

### Easy Ensemble Classifier

In [18]:
# Train the Classifier

eec = EasyEnsembleClassifier(random_state=1)
eec.fit(X_train, y_train)

EasyEnsembleClassifier(random_state=1)

In [19]:
# Calculated the balanced accuracy score

y_pred = eec.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9117614799649021

In [20]:
# Display the confusion matrix

confusion_matrix(y_test, y_pred)

array([[   77,    11],
       [  704, 12972]])

In [21]:
# Print the imbalanced classification report

print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.10      0.88      0.95      0.18      0.91      0.82        88
          1       1.00      0.95      0.88      0.97      0.91      0.84     13676

avg / total       0.99      0.95      0.88      0.97      0.91      0.84     13764

### Final Questions

1. Which model had the best balanced accuracy score?

    Easy Ensemble Classifier has the best balanced accuracy score.

2. Which model had the best recall score?

    Easy Ensemble Classifier.

3. Which model had the best geometric mean score?

    Easy Ensemble Classifier.

4. What are the top three features?

    'total_rec_prncp', 'last_pymnt_amnt', 'total_pymnt'